@charset "UTF-8";
 .login-box{
            margin: 10% auto;

          }
          .input-box{
              margin: 2% 0;
          }
          
          
          
          .row{
          	padding: 0;
          	text-align: center;
          }
          #kakao-login-btn{
          	display: none;
          }