@charset "UTF-8";
.content{
  margin: auto;
}
.imgbox{
  height: 500px;
  border-radius: 10px;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.wrap { position:relative; margin:0 auto; height:100%;border-radius: 10px;}
.over { position:absolute;
         top:0; left:0; width:100%; height:100%; 
         background:#4c4c4d; 
        opacity: 0.6;
        color: aliceblue;    
        border-radius: 10px; 
}
.over2{ position:absolute;
  top:0; left:0; width:100%; height:100%; 
  text-align:center; 
  color: aliceblue;  
  padding: 40px; 
  border-radius: 10px;
}
#p1{
  font-size: 20px;
}
.p2{
  font-size: 13px;
}
@media (min-width: 576px){
  .imgbox {
    height: auto;
  }
  #p1{
    font-size: 30px;
  }
  .p2{
    font-size: 15px;
  }
}
@media (min-width: 769px){
  .imgbox {
    height: auto;
  }
  .over2{
    padding: 80px;
  }
  #p1{
    font-size: 40px;
  }
  .p2{
    font-size: 20px;
  }
  img{
    height: 750px;
  }
}