@charset "UTF-8";
/* 오시는 길*/
.map_wrap {
    overflow:hidden;
    height:1000px
  }
  .map_wrap{
      width: 100%;
  }
  h2{
      margin-left: 30px;
  }
  #mapWrapper{
      width:100%;height:500px;
      position: absolute;
      top: 50px;
      padding: 20px;
  }
  #rvWrapper{
      width:100%;height:500px;
      position: absolute;
      top: 550px;
      padding: 20px;
  }
  #map{
      width:100%;height:100%
  }
  #roadview{
      width:100%;height:100%
  }
  #kakao{
      position: absolute;
      top: 0;
      left: 160px;
      height: 40px;
      background-color: yellow;
      width: 150px;
  }
  #kakaoBtn{
    color: black;
  }
  #kakaoBtn:hover{
    color: blue;
}
  @media (min-width: 769px){
      #mapWrapper{
          width: 50%;
          padding: 30px;
          height:600px;
      }
      #rvWrapper{
          padding: 30px;
          width: 50%;
          top: 50px;
          left: 50%;
          height:600px;
      }
      .map_wrap{
          height: 650px;
         
      }
  }