@charset "UTF-8";
/* 오시는 길*/
.map_wrap {
    overflow:hidden;
    height:1130px
  }
  .map_wrap{
      width: 100%;
  }
  h2{
      margin-left: 30px;
  }
  #mapWrapper{
      width:100%;height:500px;
      position: absolute;
      top: 50px;
      padding: 20px;
  }
  #rvWrapper{
      width:100%;height:500px;
      position: absolute;
      top: 600px;
      padding: 20px;
  }
  span{
      text-align: center;
      width: 120px;
     margin-top: 20px;
     margin-left: 35%;
  }
  #map{
      box-sizing: border-box;
      border: 3px solid rgba(160, 181, 250, 0.733);
      width:100%;height:100%
  }
  #roadview{
    box-sizing: border-box;
    border: 3px solid rgba(160, 181, 250, 0.733);
      width:100%;height:100%
  }
  #kakao{
      position: absolute;
      top: 0;
      left: 160px;
      height: 40px;
      width: 150px;
  }
  #kakaoBtn{
    color: black;
    text-decoration:none;
  }
  @media (min-width: 769px){
      #mapWrapper{
          width: 50%;
          padding: 30px;
          height:600px;
      }
      #rvWrapper{
          padding: 30px;
          width: 50%;
          top: 50px;
          left: 50%;
          height:600px;
      }
      .map_wrap{
          height: 650px;
         
      }
      span{
          margin-left: 40%;
      }
  }