/* 회사 소개*/
.content{
    height: 1400px;
    margin: auto;
  } 
   .intro_img{
     background-repeat: no-repeat;
     background-image: url("../img/intro_com1.jpg");
     background-size: 100% 100%;
     height: 300px;
     position: absolute;
     top: 0;
   }
   .intro_text{
     line-height: 30px;
     height: 300px;
     position: absolute;
     top: 301px;
     
   }
   .intro_img2{
     background-repeat: no-repeat;
     background-image: url("../img/intro_com2.jpg");
     background-size: 100% 100%;
     height: 350px;
     position: absolute;
     top: 601px;

   }
   .intro_text2{
     line-height: 30px;
     height: 350px;
     position: absolute;
     top: 951px;
   }
   @media (min-width: 769px){
     .content{
       height: 800px;
       
     }
     .intro_text{
       top: 0;
       left: 50%;
     }
     .intro_img2{
       top: 401px;
       left: 50%;
     }
     .intro_text2{
       top: 401px;
     }
   }
