#int_img1{
  
    background-repeat: no-repeat;
    background-image: url("../img/eco_intro1.jpg");
    background-size: contain;
    height: 400px;
     position: absolute;
     top: 0;
}
#int_text1{
    height: 400px;
    position: absolute;
    top: 401px;
}