@charset "UTF-8";

*{
    font-family: 'Noto Sans KR', sans-serif;
     box-sizing: border-box;
 }

 .content2{
    text-align: center;
    margin-bottom: 10%;
 }
    
 .row{
   margin-top: 4%;
   text-align: center;
 }

 .weather-box{
    font-size: x-large;
    margin-bottom: 10%;
 }

   img{    
    width: 20vw;
    height: 20vw;
    margin: 3% auto;
    display: block;
    border-radius: 50%;
   }
   
   b{
    color: rgb(52, 152, 219);
    font-weight: normal;
}