@charset "UTF_8";

*{
    font-family: 'Noto Sans KR', sans-serif;
 
 }
 
 h4{
     margin-top:8px;
 }

 .content{
     margin-top: 20px;
   height: 650px;
   display: inline-block;
 
   text-align: center;
 }
 
#infoSize{
 
  text-align: center;
  display: inline-block;
  background-color: white;
  height: 620px;
  width: 400px;

}

.m{
  display: inline-block;
  margin: 0px 0px 0px;
  height: 650px;
}

img{

      margin-top : 30px;
    width: 170px;
    height: 170px;

}

.into{
  margin: 10px;
  
}

.title{
  text-align: left;
  font-style: bold;
  margin: 15px;
}

.bnt{
  margin: 20px;
  text-align: right;
}

.intro{
  font-size: small;
}

#empty{
    display:inline-block;

}

