@charset "UTF-8";

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  padding: 0px;
}

.navbar-nav > li {
  margin-right: 12.5px;
}

.navbar-nav > li > a {
  padding: 15px 15px;
}

.navbar-light .navbar-logo {
  color: rgb(52, 152, 219);
  font-size: 30px;
  font-weight: 600;
}

.navbar-light .navbar-logo:hover {
  color: rgb(52, 152, 219);
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

footer {
  display: block;
  position: relative;
  height: 150px;
  width: 100%;
  background-color: rgb(224, 224, 224);
  top: 0;
}

footer h1 {
  color: rgb(52, 152, 219);
  font-size: 30px;
  font-weight: 600;
}
footer p {
  font-size: 1px;
}

footer > div {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 80%;
}

.content {
  display: block;
  position: relative;
  width: 100%;
}

@media (min-width: 360px) {
  footer p {
    font-size: 10px;
  }
}
@media (min-width: 767px) {
  footer p {
    font-size: 12px;
  }
}
