@charset "UTF-8";
.menuname{
    margin: auto;
}
.menu{
    text-align: center;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text{
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
}
 h2{
     font-weight: bold;
     margin-left: 5%;
 }
 h6{
     margin-left: 5%;
 }
.cont{
    height: 393px;
    overflow: auto;
    margin: auto;
}
.menuborder{
    border-radius: 5px 5px 0px 0px;
}
 #select{
    text-align: center;
    margin-left: 50%;
 }
 #select button{
     margin: 5px;
 }
 #back{
     margin-left: 40%;
 }
 @media (min-width: 767px){
     h2, h6{
         margin-left: 18%;
     }
     .menu{
        font-size: 20px;
    }
    .text{
        font-size: 20px;
        height: 70px;
        line-height: 70px;
    }
    .contentbox{
        font-size: 20px;
    }
    #back{
        margin-left: 45%;
    }
    #select{
        margin-left: 70%;
     }
 }