@charset "UTF-8";
.question{
    width: 100%;
    margin: auto;
    height: 250px;
}
.question div:first-child{
    height: 100px;
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
}
.question div:last-child{
    height: 100px;
    font-size: 10px;
}
h2{
    font-weight: bold;
    margin-left: 10%;
}
@media (min-width: 767px){
    .question div:first-child{
        font-size: 30px;
    }
    .question div:last-child{
        font-size: 20px;
    }
}