@charset "UTF-8";
.content{
    margin-top: 5%;
}
.titlebox{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100px;
    margin: auto;
}
h2{
    font-weight: bold;
}
.head{
    margin: auto;
}
.title{
    margin: auto;
}
 .contentbox{
     height: 395px;
     overflow: auto;
     margin: auto;
 }
 #back{
    text-align: center;
    margin-left: 37%;
 }
 @media (min-width: 767px){
     #back{
        margin-left: 50%;
     }
    .contentbox{
        font-size: 20px;
    }
 }