@charset "UTF-8";
.faqbox{
    margin: auto;
}
.question{
    height: 50px;
    overflow: auto;
    font-weight: bold;
}
.answer{
    height: 150px;
    overflow: auto;
}
h2{
    font-weight: bold;
    margin-left: 5%;
}
@media (min-width: 767px){
    h2{
        margin-left: 20%;
    }
}