@charset "UTF-8";
.menuname{
    margin: auto;
}
.menu{
    text-align: center;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
}
.textlist:hover{
    background: rgb(109, 160, 253);
    opacity: 0.8;
}
.text{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(158, 156, 156);
    text-align: center;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
}
h2{
    font-weight: bold;
    margin-left: 5%;
}
.box_ul{
    text-align: center;
    margin: auto;
}
.box_li{
    list-style-type:none
}
.paging{
    display: inline-block;
}
.paging a{
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    /* border: 1px solid #ddd; */
    /* margin: 0 4px; */
    margin: 0px;
}
.paging a.active{
    border-radius: 30%;
    background-color: #2c7bf1;
    color: white;
    border: 1px solid #2c7bf1;
}
.paging a:hover:not(.active) {background-color: #ddd;}
@media (min-width: 576px){
    .menu{
        font-size: 30px;
        height: 80px;
        line-height: 80px;
    }
    .text{
        height: 80px;
        font-size: 18px;
    }
}
@media (min-width: 767px){
    h2{
        margin-left: 10%;
    }
    .menu{
        
        font-size: 30px;
        height: 80px;
        line-height: 80px;
    }
    .text{
        height: 100px;
        font-size: 30px;
    }
}
