@charset "UTF-8";
.content{
    margin-top: 5%;
}
.titlebox{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 150px;
    margin: auto;
}
h2{
    font-weight: bold;
}
.contentbox{
    margin: auto;
    overflow: auto;
    height: 190px;
}
.contentbox2{
    margin: auto;
    height: 100px;
}
.answerbox{
    text-align: left;
    overflow: auto;
    height: 50px;
    margin: auto;
}
.head{
    margin: auto;
}
.title{
    margin: auto;
}
 #select{
    text-align: center;
    margin-left: 30%;
 }
 #select button{
     margin: 5px;
 }
 #back{
     margin-left: 37%;
 }
 @media (min-width: 767px){
    #back{
        margin-left: 45%;
    }
    #select{
        margin-left: 70%;
     }
 }
