@charset "UTF-8";
.menuname{
    margin: auto;
}
.menu{
    text-align: center;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
}
.text{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(158, 156, 156);
    text-align: center;
    font-size: 15px;
}
 h2{
     font-weight: bold;
     margin-left: 5%;
 }
.contentbox{
    margin: auto;
    box-sizing: border-box;
    border: 1px solid black;
    height: auto;
    word-break: break-all;
}
.cont{
    margin: auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(158, 156, 156);
    text-align: center;
    font-size: 20px;
    word-break: break-all;
}
 #select{
    text-align: center;
    margin-left: 60%;
 }
 #select button{
     margin: 10px;
 }
 #back{
     margin-left: 40%;
 }
 @media (min-width: 576px){
    .menu{
        font-size: 30px;
        height: 80px;
        line-height: 80px;
    }
    .text{
        height: 80px;
        font-size: 18px;
    }
    #select{
        margin-left: 70%;
     }
}
 @media (min-width: 767px){
     h2{
         margin-left: 10%;
     }
     .menu{
        
        font-size: 30px;
        height: 80px;
        line-height: 80px;
    }
    .text{
        height: 100px;
        font-size: 30px;
    }
    .contentbox{
        font-size: 30px;
    }
    #back{
        margin-left: 43%;
    }
    #select{
        margin-left: 75%;
     }
 }