@charset "UTF-8";
.content{
    margin-top: 5%;
}
h2{
    font-weight: bold;
}
.head{
    margin: auto;
}
.box{
    margin: auto;
}
.card-header{
    height: 30%;
}
.anbox{
    height: 70%;
}
.card-body{
    padding: 0;
}