@charset "UTF-8";
.menuname{
    margin: auto;
}
.menu{
    text-align: center;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text{
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
}
.menuborder{
    border-radius: 5px 5px 0px 0px;
}
h2{
    font-weight: bold;
    margin-left: 5%;
}
.textlist{
    border-bottom: 1px solid rgb(158, 156, 156);
}
.textlist:hover{
    background: rgb(190, 189, 189);
    opacity: 0.9;
    font-weight: bold;
}
.box_ul{
    text-align: center;
    margin: auto;
}
.box_li{
    list-style-type:none
}
.paging{
    display: inline-block;
}
.paging a{
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0px;
}
.paging a.active{
    border-radius: 30%;
    background-color: rgb(52, 152, 219);
    color: white;
    border: 1px solid rgb(52, 152, 219);
}
.paging a:hover:not(.active) {background-color: #ddd;}
#write{
    text-align: center;
    margin-left: 37%;
 }
@media (min-width: 767px){
    h2{
        margin-left: 20%;
    }
    #write{
        margin-left: 48%;
     }
     .menu{
        font-size: 20px;
    }
    .text{
        font-size: 20px;
        height: 70px;
        line-height: 70px;
    }
}