.menuname{
    margin: auto;
}
.menu{
    text-align: center;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
}
.text{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(158, 156, 156);
    text-align: center;
    font-size: 15px;
}
 h2{
     font-weight: bold;
     margin-left: 5%;
 }
 .contentbox{
     box-sizing: border-box;
     border: 1px solid black;
     height: auto;
     word-break: break-all;
 }
 #back{
    text-align: center;
    margin-left: 35%;
 }
 @media (min-width: 576px){
    .menu{
        
        font-size: 30px;
        height: 80px;
        line-height: 80px;
    }
    .text{
        height: 80px;
        font-size: 18px;
    }
}
 @media (min-width: 767px){
     h2{
         margin-left: 10%;
     }
     #back{
        margin-left: 45%;
     }
     .menu{
        
        font-size: 30px;
        height: 80px;
        line-height: 80px;
    }
    .text{
        height: 100px;
        font-size: 30px;
    }
    .contentbox{
        font-size: 30px;
    }
 }