@charset "UTF-8";
.menuname{
    margin: auto;
}
.content{
    margin-top: 5%;
}
.menu{
    text-align: center;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    border: 1px solid white;
}
.textlist:hover{
    background: rgb(190, 189, 189);
    opacity: 0.9;
}
.textlist{
    border-bottom: 1px solid rgb(158, 156, 156);
    padding:0;
}
.menuborder{
    border-radius: 5px 5px 0px 0px;
    padding: 0;
}
.text{
    box-sizing: border-box;
    text-align: center;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#text1{
    border-right: 1px dotted rgb(190, 189, 189);
    border-bottom: 1px dotted rgb(190, 189, 189);
}
#text2{
    border-bottom: 1px dotted rgb(190, 189, 189);
}
#text3{
    border-right: 1px dotted rgb(190, 189, 189);
}
h2{
    font-weight: bold;
}
.head{
    margin: auto;
}
.box_ul{
    text-align: center;
    margin: auto;
}
.box_li{
    list-style-type:none
}
.paging{
    display: inline-block;
}
.paging a{
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    /* border: 1px solid #ddd; */
    /* margin: 0 4px; */
    margin: 0px;
}
.paging a.active{
    border-radius: 30%;
    background-color:  rgb(52, 152, 219);
    color: white;
    border: 1px solid  rgb(52, 152, 219);
}
.paging a:hover:not(.active) {background-color: #ddd;}

@media (min-width: 767px){
    #text1{
      border: 0;
    }
    #text2{
        border: 0;
    }
    #text3{
        border: 0;
    }
}